.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

table{
  
}

.rowCell {
  border: 1px solid #000000;
  height: 30px;
  width: 30px;
  font-size: 2em;
  text-decoration: #222;
  text-align: center;
}

.rowCell:hover {
  background-color: #e3e3e3;
}